################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Evis.VMS.Business/bin/Debug
/Evis.VMS.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Evis.VMS.Business/obj/Debug
/Evis.VMS.Data/bin/Debug
/Evis.VMS.Data/obj/Debug
/Evis.VMS.Data.Model/bin/Debug
/Evis.VMS.Data.Model/obj/Debug
/Evis.VMS.UI/bin
/Evis.VMS.UI/obj/Debug
/Evis.VMS.Utilities/bin/Debug
/Evis.VMS.Utilities/obj/Debug
/Evis.VMS.Business/bin/Release
/Evis.VMS.Business/obj/Release
/Evis.VMS.Data/bin/Release
/Evis.VMS.Data/obj/Release
/Evis.VMS.Data.Model/bin/Release
/Evis.VMS.Data.Model/obj/Release
/Evis.VMS.Utilities/bin/Release
/Evis.VMS.Utilities/obj/Release
/Evis.VMS.UI/images/VisitorIdentityImages
/Evis.VMS.UI/EvisErrorLog/Nov-2016
/Evis.VMS.UI/obj/Release
