USE [CeenexVMS]
GO
/****** Object:  Table [dbo].[EmailFormats]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailFormats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Format] [nvarchar](1000) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EmailFormats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmailFormats] ON
INSERT [dbo].[EmailFormats] ([Id], [Category], [Format], [IsActive]) VALUES (1, N'ForgotPassword', N'Dear {0}, <br/>Please click <a href={1}>here</a> to reset the password.<br/><br/><br/>Regards,<br/>Administrator', 1)
INSERT [dbo].[EmailFormats] ([Id], [Category], [Format], [IsActive]) VALUES (2, N'UserCreation', N'Dear {0}, <br/>Your account has been created, click <a href={1}>here</a> to activate the account.<br/>Use the below credentials after successfull activation. <br/>UserName: {2} <br/>Password: {3}<br/><br/>Regards,<br/>Administrator', 1)
INSERT [dbo].[EmailFormats] ([Id], [Category], [Format], [IsActive]) VALUES (3, N'OrganizationCreation', N'Dear Sir/Madam, <br/><br/>Your company with the name {0} has been created successfully.<br/><br/>Regards,<br/>Administrator', 1)
SET IDENTITY_INSERT [dbo].[EmailFormats] OFF
/****** Object:  Table [dbo].[CardTypeMaster]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardTypeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CardTypeMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CardTypeMaster] ON
INSERT [dbo].[CardTypeMaster] ([Id], [CardName], [Description], [IsActive]) VALUES (1, N'EmiratesId', N'EmiratesId', 1)
INSERT [dbo].[CardTypeMaster] ([Id], [CardName], [Description], [IsActive]) VALUES (2, N'Driving Licence', N'Driving Licence', 1)
INSERT [dbo].[CardTypeMaster] ([Id], [CardName], [Description], [IsActive]) VALUES (3, N'Passport', N'Passport', 1)
SET IDENTITY_INSERT [dbo].[CardTypeMaster] OFF
/****** Object:  Table [dbo].[ShitfMaster]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShitfMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShitfName] [nvarchar](50) NOT NULL,
	[FromTime] [datetime] NOT NULL,
	[ToTime] [datetime] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[OrganizationId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShitfMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [IsActive], [Discriminator]) VALUES (N'149db248-160c-455c-be5c-ddceb9fdbe1b', N'SuperAdmin', N'SuperAdmin', 1, N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [IsActive], [Discriminator]) VALUES (N'35884769-ad5f-4f8c-ad9e-f70a43c0d9bb', N'Supervisor', N'Supervisor', 1, N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [IsActive], [Discriminator]) VALUES (N'40fa4ccc-0897-4e6f-8612-860a1c235dfa', N'BuildingAdmin', N'BuildingAdmin', 1, N'ApplicationRole')
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LookUpType]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[TypeCode] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LookUpType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LookUpType] ON
INSERT [dbo].[LookUpType] ([Id], [TypeName], [TypeCode], [Description], [IsActive]) VALUES (1, N'Gender', N'Gender', N'Gender', 1)
INSERT [dbo].[LookUpType] ([Id], [TypeName], [TypeCode], [Description], [IsActive]) VALUES (2, N'Country', N'Country', N'Country', 1)
INSERT [dbo].[LookUpType] ([Id], [TypeName], [TypeCode], [Description], [IsActive]) VALUES (3, N'State', N'State', N'State', 1)
SET IDENTITY_INSERT [dbo].[LookUpType] OFF
/****** Object:  Table [dbo].[LookUpValues]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LookUpTypeId] [int] NOT NULL,
	[ParentId] [int] NULL,
	[LookUpValue] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LookUpValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LookUpValues] ON
INSERT [dbo].[LookUpValues] ([Id], [LookUpTypeId], [ParentId], [LookUpValue], [Description], [IsActive]) VALUES (1, 1, NULL, N'Male', N'Male', 1)
INSERT [dbo].[LookUpValues] ([Id], [LookUpTypeId], [ParentId], [LookUpValue], [Description], [IsActive]) VALUES (2, 1, NULL, N'Female', N'Female', 1)
INSERT [dbo].[LookUpValues] ([Id], [LookUpTypeId], [ParentId], [LookUpValue], [Description], [IsActive]) VALUES (3, 1, NULL, N'Others', N'Other', 1)
SET IDENTITY_INSERT [dbo].[LookUpValues] OFF
/****** Object:  Table [dbo].[Organization]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[WebSite] [nvarchar](50) NULL,
	[CountryId] [int] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[ThemeName] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildingMaster]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[BuildingName] [nvarchar](100) NOT NULL,
	[CityId] [int] NULL,
	[EmailId] [nvarchar](50) NULL,
	[ContactNumber] [nvarchar](15) NOT NULL,
	[FaxNumber] [nvarchar](20) NULL,
	[WebSite] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NOT NULL,
	[ZipCode] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[OtherCountry] [nvarchar](max) NULL,
	[OtherState] [nvarchar](max) NULL,
	[OtherCity] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
	[StateId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BuildingMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[OrganizationId] [int] NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[GenderId] [int] NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[IdNumber] [int] NULL,
	[Nationality] [int] NOT NULL,
	[ContactAddress] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CardTypeId] [int] NULL,
	[Country] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[ThemeName] [nvarchar](max) NULL,
	[ProfilePicturePath] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsImageAvailable] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'32683d4f-4591-42d9-8f67-ea8915969ea0', N'149db248-160c-455c-be5c-ddceb9fdbe1b')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GateMaster]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GateMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuildingId] [int] NOT NULL,
	[GateNumber] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.GateMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorMaster]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VisitorName] [nvarchar](100) NOT NULL,
	[GenderId] [int] NOT NULL,
	[DOB] [datetime] NULL,
	[ContactNo] [nvarchar](15) NULL,
	[EmailId] [nvarchar](40) NULL,
	[Nationality] [int] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime] NULL,
	[TypeOfCardId] [int] NOT NULL,
	[Address] [nvarchar](250) NULL,
	[IdNo] [nvarchar](20) NULL,
	[ProfilePicPath] [nvarchar](max) NULL,
	[IdentityImage1_Path] [nvarchar](max) NULL,
	[IdentityImage2_Path] [nvarchar](max) NULL,
	[IdentityImage3_Path] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.VisitorMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorCardTypeDetails]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorCardTypeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitorMasterId] [bigint] NOT NULL,
	[CardTypeId] [int] NOT NULL,
	[CardNo] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.VisitorCardTypeDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitDetails]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VisitorId] [bigint] NOT NULL,
	[ContactPerson] [nvarchar](100) NOT NULL,
	[NoOfPerson] [int] NOT NULL,
	[PurposeOfVisit] [nvarchar](200) NULL,
	[CheckIn] [datetime] NOT NULL,
	[CheckOut] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[CheckInGate] [int] NOT NULL,
	[CheckOutGate] [int] NULL,
	[CompanyName] [nvarchar](max) NULL,
	[VahicleNumber] [nvarchar](max) NULL,
	[Floor] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.VisitDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShitfAssignment]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShitfAssignment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ShitfId] [int] NOT NULL,
	[BuildingId] [int] NOT NULL,
	[GateId] [int] NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShitfAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftDetails]    Script Date: 11/12/2016 14:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecurityID] [nvarchar](128) NULL,
	[ShiftID] [int] NOT NULL,
	[GateID] [int] NOT NULL,
	[ShiftDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShiftDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUsers_dbo.CardTypeMaster_CardTypeId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.CardTypeMaster_CardTypeId] FOREIGN KEY([CardTypeId])
REFERENCES [dbo].[CardTypeMaster] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.CardTypeMaster_CardTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUsers_dbo.LookUpValues_GenderId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.LookUpValues_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.LookUpValues_GenderId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUsers_dbo.LookUpValues_Nationality]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.LookUpValues_Nationality] FOREIGN KEY([Nationality])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.LookUpValues_Nationality]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUsers_dbo.Organization_OrganizationId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Organization_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Organization_OrganizationId]
GO
/****** Object:  ForeignKey [FK_dbo.BuildingMaster_dbo.LookUpValues_CityId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[BuildingMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuildingMaster_dbo.LookUpValues_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[BuildingMaster] CHECK CONSTRAINT [FK_dbo.BuildingMaster_dbo.LookUpValues_CityId]
GO
/****** Object:  ForeignKey [FK_dbo.BuildingMaster_dbo.LookUpValues_CountryId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[BuildingMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuildingMaster_dbo.LookUpValues_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[BuildingMaster] CHECK CONSTRAINT [FK_dbo.BuildingMaster_dbo.LookUpValues_CountryId]
GO
/****** Object:  ForeignKey [FK_dbo.BuildingMaster_dbo.LookUpValues_StateId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[BuildingMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuildingMaster_dbo.LookUpValues_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[BuildingMaster] CHECK CONSTRAINT [FK_dbo.BuildingMaster_dbo.LookUpValues_StateId]
GO
/****** Object:  ForeignKey [FK_dbo.BuildingMaster_dbo.Organization_OrganizationId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[BuildingMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuildingMaster_dbo.Organization_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[BuildingMaster] CHECK CONSTRAINT [FK_dbo.BuildingMaster_dbo.Organization_OrganizationId]
GO
/****** Object:  ForeignKey [FK_dbo.GateMaster_dbo.BuildingMaster_BuildingId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[GateMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GateMaster_dbo.BuildingMaster_BuildingId] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[BuildingMaster] ([Id])
GO
ALTER TABLE [dbo].[GateMaster] CHECK CONSTRAINT [FK_dbo.GateMaster_dbo.BuildingMaster_BuildingId]
GO
/****** Object:  ForeignKey [FK_dbo.LookUpValues_dbo.LookUpType_LookUpTypeId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[LookUpValues]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LookUpValues_dbo.LookUpType_LookUpTypeId] FOREIGN KEY([LookUpTypeId])
REFERENCES [dbo].[LookUpType] ([Id])
GO
ALTER TABLE [dbo].[LookUpValues] CHECK CONSTRAINT [FK_dbo.LookUpValues_dbo.LookUpType_LookUpTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.LookUpValues_dbo.LookUpValues_ParentId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[LookUpValues]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LookUpValues_dbo.LookUpValues_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[LookUpValues] CHECK CONSTRAINT [FK_dbo.LookUpValues_dbo.LookUpValues_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Organization_dbo.LookUpValues_CountryId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Organization_dbo.LookUpValues_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK_dbo.Organization_dbo.LookUpValues_CountryId]
GO
/****** Object:  ForeignKey [FK_dbo.ShiftDetails_dbo.AspNetUsers_SecurityID]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[ShiftDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftDetails_dbo.AspNetUsers_SecurityID] FOREIGN KEY([SecurityID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ShiftDetails] CHECK CONSTRAINT [FK_dbo.ShiftDetails_dbo.AspNetUsers_SecurityID]
GO
/****** Object:  ForeignKey [FK_dbo.ShiftDetails_dbo.GateMaster_GateID]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[ShiftDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftDetails_dbo.GateMaster_GateID] FOREIGN KEY([GateID])
REFERENCES [dbo].[GateMaster] ([Id])
GO
ALTER TABLE [dbo].[ShiftDetails] CHECK CONSTRAINT [FK_dbo.ShiftDetails_dbo.GateMaster_GateID]
GO
/****** Object:  ForeignKey [FK_dbo.ShiftDetails_dbo.ShitfMaster_ShiftID]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[ShiftDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftDetails_dbo.ShitfMaster_ShiftID] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[ShitfMaster] ([Id])
GO
ALTER TABLE [dbo].[ShiftDetails] CHECK CONSTRAINT [FK_dbo.ShiftDetails_dbo.ShitfMaster_ShiftID]
GO
/****** Object:  ForeignKey [FK_dbo.ShitfAssignment_dbo.AspNetUsers_UserId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[ShitfAssignment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShitfAssignment_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ShitfAssignment] CHECK CONSTRAINT [FK_dbo.ShitfAssignment_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.ShitfAssignment_dbo.BuildingMaster_BuildingId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[ShitfAssignment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShitfAssignment_dbo.BuildingMaster_BuildingId] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[BuildingMaster] ([Id])
GO
ALTER TABLE [dbo].[ShitfAssignment] CHECK CONSTRAINT [FK_dbo.ShitfAssignment_dbo.BuildingMaster_BuildingId]
GO
/****** Object:  ForeignKey [FK_dbo.ShitfAssignment_dbo.GateMaster_GateId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[ShitfAssignment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShitfAssignment_dbo.GateMaster_GateId] FOREIGN KEY([GateId])
REFERENCES [dbo].[GateMaster] ([Id])
GO
ALTER TABLE [dbo].[ShitfAssignment] CHECK CONSTRAINT [FK_dbo.ShitfAssignment_dbo.GateMaster_GateId]
GO
/****** Object:  ForeignKey [FK_dbo.ShitfAssignment_dbo.ShitfMaster_ShitfId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[ShitfAssignment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShitfAssignment_dbo.ShitfMaster_ShitfId] FOREIGN KEY([ShitfId])
REFERENCES [dbo].[ShitfMaster] ([Id])
GO
ALTER TABLE [dbo].[ShitfAssignment] CHECK CONSTRAINT [FK_dbo.ShitfAssignment_dbo.ShitfMaster_ShitfId]
GO
/****** Object:  ForeignKey [FK_dbo.VisitDetails_dbo.AspNetUsers_CreatedBy]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitDetails_dbo.AspNetUsers_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[VisitDetails] CHECK CONSTRAINT [FK_dbo.VisitDetails_dbo.AspNetUsers_CreatedBy]
GO
/****** Object:  ForeignKey [FK_dbo.VisitDetails_dbo.GateMaster_CheckInGate]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitDetails_dbo.GateMaster_CheckInGate] FOREIGN KEY([CheckInGate])
REFERENCES [dbo].[GateMaster] ([Id])
GO
ALTER TABLE [dbo].[VisitDetails] CHECK CONSTRAINT [FK_dbo.VisitDetails_dbo.GateMaster_CheckInGate]
GO
/****** Object:  ForeignKey [FK_dbo.VisitDetails_dbo.VisitorMaster_VisitorId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitDetails_dbo.VisitorMaster_VisitorId] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[VisitorMaster] ([Id])
GO
ALTER TABLE [dbo].[VisitDetails] CHECK CONSTRAINT [FK_dbo.VisitDetails_dbo.VisitorMaster_VisitorId]
GO
/****** Object:  ForeignKey [FK_dbo.VisitorCardTypeDetails_dbo.CardTypeMaster_CardTypeId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitorCardTypeDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitorCardTypeDetails_dbo.CardTypeMaster_CardTypeId] FOREIGN KEY([CardTypeId])
REFERENCES [dbo].[CardTypeMaster] ([Id])
GO
ALTER TABLE [dbo].[VisitorCardTypeDetails] CHECK CONSTRAINT [FK_dbo.VisitorCardTypeDetails_dbo.CardTypeMaster_CardTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.VisitorCardTypeDetails_dbo.VisitorMaster_VisitorMasterId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitorCardTypeDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitorCardTypeDetails_dbo.VisitorMaster_VisitorMasterId] FOREIGN KEY([VisitorMasterId])
REFERENCES [dbo].[VisitorMaster] ([Id])
GO
ALTER TABLE [dbo].[VisitorCardTypeDetails] CHECK CONSTRAINT [FK_dbo.VisitorCardTypeDetails_dbo.VisitorMaster_VisitorMasterId]
GO
/****** Object:  ForeignKey [FK_dbo.VisitorMaster_dbo.AspNetUsers_CreatedBy]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitorMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitorMaster_dbo.AspNetUsers_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[VisitorMaster] CHECK CONSTRAINT [FK_dbo.VisitorMaster_dbo.AspNetUsers_CreatedBy]
GO
/****** Object:  ForeignKey [FK_dbo.VisitorMaster_dbo.LookUpValues_GenderId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitorMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitorMaster_dbo.LookUpValues_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[VisitorMaster] CHECK CONSTRAINT [FK_dbo.VisitorMaster_dbo.LookUpValues_GenderId]
GO
/****** Object:  ForeignKey [FK_dbo.VisitorMaster_dbo.LookUpValues_Nationality]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitorMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitorMaster_dbo.LookUpValues_Nationality] FOREIGN KEY([Nationality])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[VisitorMaster] CHECK CONSTRAINT [FK_dbo.VisitorMaster_dbo.LookUpValues_Nationality]
GO
/****** Object:  ForeignKey [FK_dbo.VisitorMaster_dbo.LookUpValues_TypeOfCardId]    Script Date: 11/12/2016 14:22:53 ******/
ALTER TABLE [dbo].[VisitorMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VisitorMaster_dbo.LookUpValues_TypeOfCardId] FOREIGN KEY([TypeOfCardId])
REFERENCES [dbo].[LookUpValues] ([Id])
GO
ALTER TABLE [dbo].[VisitorMaster] CHECK CONSTRAINT [FK_dbo.VisitorMaster_dbo.LookUpValues_TypeOfCardId]
GO
